name: Check URLs from changed files
on:
  workflow_dispatch: {}
permissions:
  contents: read
concurrency:
  group: ${{ github.workflow }} @ ${{ github.run_id }}
  cancel-in-progress: false
jobs:
  get-changed-files:
    name: Get changed files
    runs-on: ubuntu-latest
    outputs:
      fetch-depth: ${{ steps.set-params.outputs.fetch-depth }}
      files: ${{ steps.set-files.outputs.files }}
      files-len: ${{ steps.set-files.outputs.files-len }}
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
    - name: Determine workflow params
      id: set-params
      run: "echo \"fetch_depth=0\" >> $GITHUB_OUTPUT\nif [ \"${{ github.event_name\
        \ }}\" == \"pull_request\" ]; then\n  echo \"fetch_depth=0\" >> $GITHUB_OUTPUT\n\
        fi\n"
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: ${{ steps.set-params.outputs.fetch-depth }}
    - name: Get changed files
      id: changed-files
      uses: tj-actions/changed-files@v46
      with:
        separator: ' '
        json: true
    - id: set-files
      run: "echo \"${{ steps.changed-files.outputs.all_changed_files }}\"  \\\n  |\
        \ jq --raw-output '. | join(\" \")'  \\\n  | sed -e 's/^/files=/'  \\\n  >>\
        \ $GITHUB_OUTPUT\necho \"${{ steps.changed-files.outputs.all_changed_files\
        \ }}\"  \\\n  | jq --raw-output '. | length'  \\\n  | sed -e 's/^/files-len=/'\
        \  \\\n  >> $GITHUB_OUTPUT\n"
    - id: set-matrix
      run: "echo \"{\\\"file\\\":${{ steps.changed-files.outputs.all_changed_files\
        \ }}}\"  \\\n  | sed -e 's/^/matrix=/'  \\\n  >> $GITHUB_OUTPUT\n"
  check-urls:
    name: Check @ ${{ matrix.file }}
    if: ${{ fromJSON(needs.get-changed-files.outputs.files-len) > 0 }}
    needs:
    - get-changed-files
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(needs.get-changed-files.outputs.matrix) }}
      max-parallel: 10
      fail-fast: false
    steps:
    - name: Checkout
      if: ${{ endsWith(matrix.file, '.yml') || endsWith(matrix.file, '.md') }}
      uses: actions/checkout@v5
      with:
        fetch-depth: ${{ needs.get-changed-files.outputs.fetch-depth }}
    - name: Setup Ruby v2.6
      if: ${{ endsWith(matrix.file, '.yml') || endsWith(matrix.file, '.md') }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.6
    - name: Install awesome_bot
      if: ${{ endsWith(matrix.file, '.yml') || endsWith(matrix.file, '.md') }}
      run: 'gem install awesome_bot

        '
    - name: Set output
      id: set-output
      run: "echo \"FILENAME=$(echo ${{ matrix.file }} | grep -oE '[a-zA-Z0-9_-]+(\\\
        .yml|\\.md)')\" >> \"$GITHUB_OUTPUT\"\n\nfile_path=\"${{ matrix.file }}\"\n\
        file_path=\"${file_path//\\//-}\"\n\nif [[ \"$file_path\" == \"README.md\"\
        \ ]]; then\n  file_path=\"BASE_README.md\"\nfi\n\necho \"FILEPATH=${file_path}\"\
        \ >> \"$GITHUB_OUTPUT\"\n"
    - name: 'Check URLs of file: ${{ matrix.file }}'
      if: ${{ endsWith(matrix.file, '.yml') || endsWith(matrix.file, '.md') }}
      run: 'awesome_bot "${{ matrix.file }}" --allow-redirect --allow-dupe --allow-ssl
        || true;

        '
    - uses: actions/upload-artifact@v5
      with:
        name: ${{ steps.set-output.outputs.FILEPATH }}
        path: ${{ github.workspace }}/ab-results-*.json
  reporter:
    name: GitHub report
    needs:
    - get-changed-files
    - check-urls
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Download artifacts
      uses: actions/download-artifact@v6
    - name: Generate Summary Report
      uses: ./.github/actions/awesomebot-gh-summary-action
      with:
        ab-root: ${{ github.workspace }}
        files: ${{ needs.get-changed-files.outputs.files }}
        separator: ' '
        append-heading: ${{ true }}
