name: Comment on the pull request
on:
  workflow_dispatch: {}
jobs:
  upload:
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    if: '${{ github.event.workflow_run.event == ''pull_request'' && github.event.workflow_run.conclusion
      == ''success'' }}

      '
    steps:
    - name: Download artifact
      uses: actions/github-script@v8
      with:
        script: "let allArtifacts = await github.rest.actions.listWorkflowRunArtifacts({\n\
          \   owner: context.repo.owner,\n   repo: context.repo.repo,\n   run_id:\
          \ context.payload.workflow_run.id,\n});\nlet matchArtifact = allArtifacts.data.artifacts.filter((artifact)\
          \ => {\n  return artifact.name == \"pr\"\n})[0];\nlet download = await github.rest.actions.downloadArtifact({\n\
          \   owner: context.repo.owner,\n   repo: context.repo.repo,\n   artifact_id:\
          \ matchArtifact.id,\n   archive_format: 'zip',\n});\nlet fs = require('fs');\n\
          fs.writeFileSync(`${process.env.GITHUB_WORKSPACE}/pr.zip`, Buffer.from(download.data));\n"
    - name: Unzip artifact
      run: unzip pr.zip
    - name: Comment on PR
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: "if [ -s error.log ]\nthen\n  gh pr comment $(<PRurl) -b \"Linter failed,\
        \ fix the error(s):\n  \\`\\`\\`\n  $(cat error.log)\n  \\`\\`\\`\"\n  gh\
        \ pr edit $(<PRurl) --add-label \"linter error\"\nelse\n  gh pr edit $(<PRurl)\
        \ --remove-label \"linter error\"\nfi\n"
