name: Detect conflicting PRs
on:
  workflow_dispatch: {}
permissions:
  contents: none
  pull-requests: write
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false
jobs:
  detect-prs:
    name: Detect
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    steps:
    - name: Label conflicting PRs that are open
      id: pr-labeler
      uses: eps1lon/actions-label-merge-conflict@v3.0.3
      with:
        repoToken: ${{ secrets.GITHUB_TOKEN }}
        retryAfter: 30
        retryMax: 5
        dirtyLabel: conflicts
        commentOnDirty: "Oh no \U0001F61F! Conflicts have been found.\n\nPlease \U0001F64F\
          , take a moment and [address the merge conflicts](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/addressing-merge-conflicts)\
          \ of your pull request before we can evaluate it again.\n\nThanks in advance\
          \ for your effort and patience \u2764\uFE0F!\n"
        continueOnMissingPermissions: true
    - name: Print outputs
      run: echo ${{ join(steps.pr-labeler.outputs.*, ',') }}
    - name: Set PRs outputs
      id: set-prs
      run: "echo \"$INPUT_PRS\"  \\\n  | jq --compact-output --raw-output 'to_entries\
        \ | map({number: .key, dirty: .value})'  \\\n  | sed -e 's/^/prs=/'  \\\n\
        \  >> $GITHUB_OUTPUT\necho \"$INPUT_PRS\"  \\\n  | jq --raw-output 'to_entries\
        \ | length'  \\\n  | sed -e 's/^/prs-len=/'  \\\n  >> $GITHUB_OUTPUT\n"
      env:
        INPUT_PRS: ${{ steps.pr-labeler.outputs.prDirtyStatuses }}
    - name: Write job summary
      run: "echo \"### Pull Request statuses\"  \\\n  >> $GITHUB_STEP_SUMMARY\n# render\
        \ json array to a Markdown table with an optional \"No records\" message if\
        \ empty\necho \"$INPUT_PRS\"  \\\n  | jq --raw-output 'map(\"| [#\\(.number)](\\\
        (env.GITHUB_PUBLIC_URL)/\\(.number)) | \\(if (.dirty) then \"\u274C\" else\
        \ \"\u2714\uFE0F\" end) |\") | join(\"\\n\") | if (. == \"\") then \"\\nNo\
        \ records.\\n\" else \"\\n| PR | Mergeable? |\\n|---:|:----------:|\\n\\(.)\\\
        n\" end'  \\\n  >> $GITHUB_STEP_SUMMARY\n"
      env:
        GITHUB_PUBLIC_URL: ${{ format('{0}/{1}/pull', github.server_url, github.repository)
          }}
        INPUT_PRS: ${{ steps.set-prs.outputs.prs }}
